:root {
  --primary-color: #211a25;
  --contrast-color: #fff;
  --brand-color: #ee9600;
  --secondary-color: #151d27;
  --light-color: rgb(90, 90, 90);
}

:root {
  --surface-color: var(--secondary-color);
  --brand-outline-color: var(--brand-color);
  --quite-outline-color: var(--light-color);

  --contrast-text-color: var(--contrast-color);
  --brand-text-color: var(--brand-color);
  --text-color: var(--constast-color);
  --table-border-color: var(--contrast-color);

  --initial-font-size: 16px;
  --small-screen-size-font-size: 10px;

  --header-title-font-size: 2.0rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.25rem;
  --h5-font-size: 1rem;
  --h6-font-size: 0.8rem;

  --medium-screen-size: 1024px;
  --small-screen-size: 726px;
  --mobile-screen-size: 400px;

  /* fonts */
  --contrast-font: "Poetsen One";
  --default-font: "Source Code Pro";

  /* divider */
  --default-link-opacity: 1;
  --hover-link-opacity: 0.8;

  --space: 4px;
  --small-padding: var(--space);
}

ul, nav {
  list-style-type: none;
}

a {
  opacity: var(--default-link-opacity);
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: var(--hover-link-opacity);
  text-decoration: underline;;
}

a:focus-visible {
    outline: none;
  box-shadow: white 0 0 0 2px;
}

body {
  background: var(--surface-color);
}


$breakpoints: (
  "large": 1440px,
  "medium": 1024px,
  "small": 726px,
  "mobile": 400px
);